.option-container {
  height: 23vh;
  width: 23vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.grid-item {
    margin: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 20px;
    background-color: white;
}

img {
  height: 10vh;
  width: 10vh;
  margin-top: 5px;
}

h2 {
    margin-left: 0.5vw;
    font-weight: bold;
    color: #222831;
}

a:link {
  text-decoration: none;
}

