.option-container {
  height: 23vh;
  width: 23vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.grid-item {
  margin: 2vh;
  border-radius: 10%;
  background-color: white;
  padding: 5px;
}

img {
  height: 10vh;
  width: 10vh;
  margin-top: 5px;
}

p{
  padding: 10px;
  margin-bottom: 5px;
  color: black;
}

a:link {
  text-decoration: none;
}
