.dictionary-header{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid black;
}

.dictionary-entry{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
