<app-toolbar [title]="'Creación de diccionario de datos'"></app-toolbar>

<app-sidenav-builder>

    <div class="container h-100">
        <form [formGroup]="DictionaryForm" class="container h-75 mt-3">

            <div class="row align-items-center h-20">
                <div class="module-header">
                    <app-return-button [href]="'/dictionary-selection'"></app-return-button>
                    <div class="module-header-text">
                        <h3>Crear diccionario de datos</h3>
                    </div>
                    <app-search-button
                        data-bs-toggle="modal"
                        data-bs-target="#search-modal"

                    >

                    </app-search-button>
                </div>

                <div class="d-flex justify-content-center my-2">
                    <div class="d-flex flex-column align-items-center w-25">
                        <label for="dictonary_name" class="text-white me-3">
                            Nombre del diccionario: </label>
                        <input name="dictonary_name" placeholder="Mi diccionario"
                                class=" form-control" type="text"
                                formControlName="dictionaryName"
                                [class.is-invalid]="DictionaryForm.get(
                                        'dictionaryName'
                                    ).invalid && this.tokens.length > 0"
                        >
                    </div>
                </div>

                <div class="d-flex justify-content-around">
                    <select class="w-25 dropdown rounded-pill fw-bold">
                        <option *ngFor="let database of databases">
                            {{database.name}}
                        </option>
                    </select>

                    <select class="w-25 dropdown rounded-pill fw-bold">
                        <option *ngFor="let table of tables">
                            {{table}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="d-flex justify-content-evenly h-50 my-3">

                <div class="row h-100 w-50">
                    <div class="card container rounded py-3 px-3 w-75 mh-100
                                overflow-auto"
                    >
                        <div class="column-name text-white rounded-pill py-2
                                    my-2 ps-4"
                            *ngFor="let column of columns; let idx = index"
                            (click)="columnsToTokens(idx)"
                        >
                            {{column}}
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <span class="fs-1 rounded-pill px-3 text-white">
                        &rarr;
                    </span>
                </div>

                <div class="row h-100 w-50">
                    <div class="card container rounded py-3 px-3 w-75 mh-100
                                overflow-auto"
                        formArrayName="tokens"
                    >
                        <div id="token-container"
                            class="token-container text-white rounded py-3 my-1
                                d-flex px-2 d-flex flex-column"
                            *ngFor="let token of getCtrl(
                                        'tokens', DictionaryForm
                                    ).controls; let idx = index"
                        >
                            <div [formGroupName]="idx">
                                <div class="d-flex justify-content-between">
                                    <div class="rounded-pill bg-secondary w-50
                                                ps-4 mb-1 text-break"
                                    >
                                        {{tokens[idx].name}}
                                    </div>
                                    <button class="btn-close btn-close-white"
                                            aria-label="Close"
                                            (click)="removeToken(idx)"
                                    ></button>
                                </div>
                                <div class="mt-1">
                                    <input class="rounded-pill w-100 token-value
                                                form-control"
                                            type="text"
                                            formControlName="token"
                                            [class.is-invalid]="getCtrl(
                                                'tokens', DictionaryForm
                                            ).controls[idx].touched
                                            && getCtrl(
                                                'tokens', DictionaryForm
                                            ).controls[idx].invalid"
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <label class="text-danger" *ngIf="getCtrl(
                            'dictionaryName', DictionaryForm
                        ).status != 'VALID' && this.tokens.length > 0"
                    >
                        &#9432; Por favor escribe el nombre del diccionario
                    </label>
                    <label class="text-danger" *ngIf="getCtrl(
                            'tokens', DictionaryForm
                        ).status != 'VALID' && this.tokens.length > 0"
                    >
                        &#9432; Asegúrate de rellenar todos los campos
                    </label>
                    <div class="d-flex justify-content-center">
                        <button class="btn bg-white fs-4 rounded-pill px-5 py-0
                                        mt-3"
                                (click)="sendTokens()"
                                [disabled]="DictionaryForm.status != 'VALID'"
                        >
                        Guardar</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</app-sidenav-builder>

<app-search-modal></app-search-modal>
