<app-toolbar [title]="'Plantillas'" ></app-toolbar>

<app-sidenav-builder>
  <div class="controls">
    <button class="link-container" routerLink="/data-dictionary">
        <a class="link">Diccionario de Datos</a>
    </button>
    <app-add-button 
      data-bs-toggle="modal" 
      data-bs-target="#add-modal"
      (click)="prepareModalForNewTemplate()"
    >
    
    </app-add-button>
  </div>
  <div class="grid-container">
    <app-removable-option 
      [imageSource]="imageSource" 
      [option]="template" 
      data-bs-toggle="modal"
      data-bs-target="#add-modal"
      (click)="loadTemplateData(template._id)"
      *ngFor="let template of templates">
    
    </app-removable-option>
  </div>
</app-sidenav-builder>

<app-modal [modalId]="'add-modal'">
  <div class="header">
    <h2 class="modal-title" id="exampleModalLabel">
        {{modalTitle}} 
    </h2>
  </div>
  <div class="body">
    <form [formGroup]="templateForm">
        <p class="field-title">
            Nombre:
        </p>
        <input type="text" 
          [class.is-invalid]="templateForm.get('name').touched && 
          templateForm.get('name').invalid" 
          class="form-control" 
          formControlName="name"
        >

        <p class="field-title">
          Diccionario Utilizado:
        </p>
        <select 
          class="form-control" 
          formControlName="dictionary"  
        >
          <option [value]="dictionary._id" *ngFor="let dictionary of dictionaries">{{dictionary.name}}</option>
        </select>

        <p class="field-title">
            Archivo de plantilla:
        </p>
        <input type="file" 
            [class.is-invalid]="templateForm.get('file').touched && 
            templateForm.get('file').invalid" 
            class="form-control" 
            formControlName="file"
            (change)="onFileChange($event)"
        >
        <p class="field-title"*ngIf="templateForm.get('filename').valid">
          Archivo cargado: {{templateForm.get('filename').value}}
        </p>
    </form>
  </div>
  <div class="footer">
    <div class="save-button">
      <button type="button" 
        [disabled]="templateForm.invalid" 
        class="btn btn-primary" 
        data-bs-dismiss="modal" 
        *ngIf="selectOptionService.optionSelected !== -1 ; else addButton" 
        (click)="saveTemplateConfiguration()"
      >
        <strong>
            Guardar
        </strong>
      </button>
      <ng-template #addButton>
        <button type="button" 
          [disabled]="templateForm.invalid" 
          class="btn btn-primary" 
          data-bs-dismiss="modal" 
          (click)="addTemplateConfiguration()"
        >
          <strong>
            Crear
          </strong>
        </button>
      </ng-template>
    </div>
  </div>
</app-modal>

<app-modal [modalId]="'remove-modal'">
  <div class="header">
      <h2 class="modal-title" id="exampleModalLabel">
          Eliminar conexión
      </h2>
  </div>
  <div class="body">
      ¿Estás seguro de eliminar?
  </div>
  <hr>
  <div class="footer">
      <div class="save-button">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="removeTemplateConfiguration()">
              <strong>
                  Eliminar
              </strong>
          </button>
      </div>
  </div>
</app-modal>