<app-toolbar [title]="'Bases de Datos'"></app-toolbar>

<app-sidenav-builder>
    <div class="controls">
        <app-add-button
            data-bs-toggle="modal"
            data-bs-target="#add-modal"
            (click)="createDatabaseConfiguration()"
        >

        </app-add-button>
    </div>
    <div class="grid-container">
        <app-removable-option
            [imageSource]="imageSource"
            [option]="database"
            data-bs-toggle="modal"
            data-bs-target="#add-modal"
            (click)="loadDatabaseData(database.id)"
            *ngFor="let database of databases" >
            <app-remove-button></app-remove-button>
        </app-removable-option>
    </div>

</app-sidenav-builder>


<app-modal [modalId]="'add-modal'">
    <div class="header">
        <h2 class="modal-title" id="exampleModalLabel">
            {{modalTitle}}
        </h2>
    </div>
    <div class="body">
        <form [formGroup]="databaseForm">
            <p class="field-title">
                Nombre:
            </p>
            <input type="text" [class.is-invalid]="databaseForm.get('name')?.touched && databaseForm.get('name')?.invalid" class="form-control" formControlName="name">
            <p class="field-title">
                Dirección:
            </p>
            <input type="text" [class.is-invalid]="databaseForm.get('direction')?.touched && databaseForm.get('direction')?.invalid" class="form-control" formControlName="direction">
            <p class="field-title">
                Puerto:
            </p>
            <input type="text" [class.is-invalid]="databaseForm.get('port')?.touched && databaseForm.get('port')?.invalid" class="form-control" formControlName="port">
            <p class="field-title">
                Usuario:
            </p>
            <input type="text" [class.is-invalid]="databaseForm.get('user')?.touched && databaseForm.get('user')?.invalid" class="form-control" formControlName="user">
            <p class="field-title">
                Contraseña:
            </p>
            <input type="text" [class.is-invalid]="databaseForm.get('password')?.touched && databaseForm.get('password')?.invalid" class="form-control" formControlName="password">
        </form>
    </div>
    <hr>
    <div class="footer">
        <div class="save-button">
            <button type="button" [disabled]="databaseForm.invalid" class="btn btn-primary" data-bs-dismiss="modal" *ngIf="selectOptionService.optionSelected != -1 ; else addButton" (click)="saveDatabaseConfiguration()">
                <strong>
                    Guardar
                </strong>
            </button>
            <ng-template #addButton>
                <button type="button" [disabled]="databaseForm.invalid" class="btn btn-primary" data-bs-dismiss="modal" (click)="addDatabaseConfiguration()">
                    <strong>
                        Crear
                    </strong>
                </button>
            </ng-template>
        </div>
    </div>
</app-modal>

<app-modal [modalId]="'remove-modal'">
    <div class="header">
        <h2 class="modal-title" id="exampleModalLabel">
            Eliminar conexión
        </h2>
    </div>
    <div class="body">
        ¿Estás seguro de eliminar?
    </div>
    <hr>
    <div class="footer">
        <div class="save-button">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="removeDatabaseConfiguration()">
                <strong>
                    Eliminar
                </strong>
            </button>
        </div>
    </div>
</app-modal>
