<div class="summary">
  <div class="summary-container">
    <p class="summary-title">Se generará el documento: <strong>{{ (selectedTemplate | async).name }}</strong> con la siguiente información:</p>

    <table class="table">
      <tbody>

        <ng-container *ngFor="let entry of dictionaryColumns">
          <tr>
            <td>{{entry.column}}</td>
            <td class="italic-column" >{{ record[entry.column] }}</td>
          </tr>
        </ng-container>

      </tbody>
    </table>
  </div>

</div>
