/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.link{
  text-decoration: none;
  color: black;
}

.link-container{
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
}

.link-container:hover{
  cursor: pointer;
  color: white;
  background-color: #222831;
}

.link-container:hover > a{
  cursor: pointer;
  color: white;
  background-color: #222831;
}

.dropdown{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.module-header{
  display: flex;
  align-items: center;
}

.module-header-text{
  margin: 0 auto;
  color: white;
}

.grid-container {
  margin-top: 1vh;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}
