<mat-sidenav-container (backdropClick)="toggleSidenavService.close()">
  <!--HTML de menu lateral-->
  <mat-sidenav mode="over" [opened]="toggleSidenavService.isShowing">

      <a href="admin-home">
          <img class="logo" src="../assets/Images/QDocsLogo.png" alt="Qdocs Logo">
      </a>

      <div class="menu">
            <button mat-button class="menu-button" 
                routerLink="/admin-home"
                (click)="toggleSidenavService.close()"
            >
              <mat-icon>home</mat-icon>
              <span>Admin</span>
          </button>

          <mat-divider></mat-divider>

            <button mat-button class="menu-button" 
                routerLink="/agent-home"
                (click)="toggleSidenavService.close()"    
            >
                <mat-icon>home</mat-icon>
                <span>Agent</span>
            </button>

          <mat-divider></mat-divider>

          <button mat-button class="menu-button">
              <mat-icon>person</mat-icon>
              <span>Profile</span>
          </button>

          <mat-divider></mat-divider>

          <button mat-button class="menu-button">
              <mat-icon>help</mat-icon>
              <span>Help</span>
          </button>
      </div>
  </mat-sidenav>

  <!--HTML de contenido-->
  <app-content-button>
      <ng-content></ng-content>
  </app-content-button>
</mat-sidenav-container>
